<div class="cart-items">
    <ul>
      <li *ngFor="let item of cart" class="cart-item" >
      <div *ngIf="item.added">
        <span class="item-name">{{item.name}}</span>
        <span (click)="back(item);"><i class="fas fa-times"></i></span>
      </div>

      </li>
      <div *ngIf="cart.length == 0">{{sumCart}}</div>
      <a class="btn-add" (click)="buy()">
        buy
      </a>
      <a class="btn-add" (click)="reset()">
          reset
        </a>
        <a class="btn-add" (click)="sendMessage()">
          testOutputBuy
        </a>
    </ul>
  </div>
