<!--The content below is only a placeholder and can be replaced.-->
<header class="header">
  <div>language</div>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="cart-icon"><span>Cart</span><i class="fas fa-shopping-cart"></i>
    <app-shop-cart [cart]="cart" [back]="back" [sum]="sum" class="cart"></app-shop-cart>
  </div>
  
</header>
<div class="content">
  <div class="side-menu">
    <ul>
      <li><a href="">TVs</a></li>
      <li><a href="">Mobiles</a></li>
      <li><a href="">LapTops</a></li>
    </ul>
  </div>
  <app-products class="products" [products]="products" [buy]="buy"></app-products>
  </div>




