<!--The content below is only a placeholder and can be replaced.-->
<div dir={{language}} class="wrapper">
  <header class="header">
    <div (click)="changeLanguage()"><i class="fas fa-language fa-2x"></i></div>
    <h1>
      Welcome to {{ title }}!
    </h1>
    <div  class="cart-icon"><div (click)="cartToggle()"><span class="cart-name">корзина</span><i  class="fas fa-shopping-cart fa-2x"></i></div>
      <app-shop-cart *ngIf="showHide" [cart]="cart" [back]="back" [buyAllOrReset]='buyAllOrReset' [sum]="sum" class="cart"></app-shop-cart>
    </div>
    
  </header>
  <div class="content">
    <div class="side-menu">
      <ul>
        <li><a routerLink="tv">tv</a></li>
        <li><a routerLink="mobile">mobile</a></li>
        <li><a href="">TVs</a></li>
        <li><a href="">Mobiles</a></li>
        <li><a href="">LapTops</a></li>
      </ul>
    </div>
    <!-- <router-outlet></router-outlet> -->
    <app-products class="products" [products]="products" [addToCart]="addToCart"></app-products>
    
  </div>
</div>





