
  <div class="products-store">
    <div class="products_item" *ngFor="let item of products">
      <img src="https://placeimg.com/220/200/tech/{{item.img}}" alt="img">
      <div class="products_info">
        <span class="products_name">{{item.name}}</span>
        <span class="products_price">${{item.price}}</span>
      </div>
      <a class="btn-add" 
        [ngClass]="{'buyed': item.added}"
        
        (click)="addToCart(item);">
        {{item.added ? 'In cart' : 'Buy'}}
    </a>
    </div>
  </div>